<header id="sportsmagazine-header" class="sportsmagazine-header-one">

  <!--// MainSection \\-->
  <div class="sportsmagazine-main-header">
      <div class="container">
          <div class="row">
              <aside class="col-md-2"><a href="https://www.molvious.it" class="sportsmagazine-logo">
                  <img src="assets/molvious/logos/merellers.png" style="max-width: 100px" alt=""></a>
              </aside>
              <div class="col-md-8">
                  <app-top-menu></app-top-menu>
              </div>
              <aside class="col-md-2"><a href="http://www.stellazzurra.it/" class="sportsmagazine-logo logo-stella">
                <img src="assets/molvious/logos/stella.jpg" style="max-width: 100px" alt=""></a>
              </aside>

          </div>
      </div>
  </div>
  <!--// MainSection \\-->

</header>
