<footer id="sportsmagazine-footer" class="sportsmagazine-footer-one">
  <a name="contacts"></a>
  <!--// Footer Widget \\-->
  <div class="sportsmagazine-footer-widget">
      <div class="container">
          <div class="row">
              <!--// Widget Contact Info \\-->
              <aside class="col-md-4 widget widget_contact_info">
                  <a href="#" class="footer-logo"><img src="assets/molvious/logos/merellers.png" style="max-width: 100px" alt=""></a>
                  <p>I Merellers sono una delle squadre in gioco. Ogni anno tentano di scalare la classifica per arrivare primi. Sapetelo.</p>
                  <p>Il torneo è ospitato nei campi della stella azzurra.</p>
                  <a href="#" class="footer-logo"><img src="assets/molvious/logos/stella.jpg" style="max-width: 100px" alt=""></a>
                  <ul class="sportsmagazine-social-network">
                      <li><a href="https://www.facebook.com/merellers/" class="sportsmagazine-colorhover fa fa-facebook-official"></a></li>
                      <li><a href="https://www.facebook.com/merellers/" class="sportsmagazine-colorhover fa fa-twitter-square"></a></li>
                      <li><a href="https://www.facebook.com/merellers/" class="sportsmagazine-colorhover fa fa-linkedin-square"></a></li>
                      <li><a href="https://www.facebook.com/merellers/" class="sportsmagazine-colorhover fa fa-google-plus-square"></a></li>
                  </ul>
                  <ul class="sportsmagazine-info-list">
                      <li><i class="fa fa-map-marker"></i> <span>Stella Azzurra, Via Flaminia 867, Roma.</span></li>
                  </ul>
              </aside>
              <!--// Widget Contact Info \\-->
              <!--// Widget Twitter \\-->
              <aside class="col-md-4 widget widget_twitter">
                  <div class="footer-widget-title"><h2>Twitter Feeds</h2></div>
                  <ul>
                      <li>
                          <i class="fa fa-twitter"></i> <span>@molvious</span>
                          <p>Spiaente non abbiamo alcun canale twitter <a href="#">https://www.facebook.com/merellers/</a></p>
                          <time datetime="2008-02-14 20:00"><i class="fa fa-clock-o"></i> 1 Minuto fa</time>
                      </li>
                  </ul>
              </aside>
              <!--// Widget Twitter \\-->
              <!--// Widget Gallery \\-->
              <aside class="col-md-4 widget widget_gallery">
                  <div class="footer-widget-title"><h2>Flicker Photos</h2></div>
                  <ul>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-1.jpg" alt=""></a></li>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-2.jpg" alt=""></a></li>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-3.jpg" alt=""></a></li>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-4.jpg" alt=""></a></li>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-5.jpg" alt=""></a></li>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-6.jpg" alt=""></a></li>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-7.jpg" alt=""></a></li>
                      <li><a data-fancybox-group="group" href="#" class="fancybox"><img src="assets/extra-images/widget-gallery-8.jpg" alt=""></a></li>
                  </ul>
              </aside>
              <!--// Widget Gallery \\-->

          </div>
      </div>
      <a href="#" class="sportsmagazine-back-top"><i class="fa fa-angle-up"></i></a>
  </div>
  <!--// Footer Widget \\-->

  <!--// CopyRight \\-->
  <div class="sportsmagazine-copyright">
      <div class="container">
          <div class="row">
              <aside class="col-md-6 sportsmagazine-copyright-left"><p>© 2018, All Right Reserved - by <a href="#">Merellers</a></p></aside>
              <aside class="col-md-6 sportsmagazine-copyright-right">
                  <ul class="sportsmagazine-copyright-link">
                      <li><a href="#" class="sportsmagazine-colorhover">Terms And Condition</a></li>
                      <li><a href="#" class="sportsmagazine-colorhover">Privacy Policy</a></li>
                  </ul>
              </aside>
          </div>
      </div>
  </div>
  <!--// CopyRight \\-->

</footer>
