<!--// Fancy Title \\--> <div class="sportsmagazine-fancy-title"><h2>Hot Videos</h2></div> <!--// Fancy Title \\-->
<!--// Featured Slider \\-->
<div class="sportsmagazine-featured-slider">
    <div class="sportsmagazine-featured-slider-layer">
      Qui eravamo alla finale dell'anno scorso. Promettiamo una grande vittoria dei Merellers nel 2019.
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmerellers%2Fvideos%2F2120835518165229%2F&show_text=0&width=560"
      style="border:none;overflow:hidden"
      scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
  </div>
  <div class="sportsmagazine-featured-slider">
    <div class="sportsmagazine-featured-slider-layer">
      Video della prima giornata 2018.
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmerellers%2Fvideos%2F670642996658315%2F&show_text=0&width=560"
      style="border:none;overflow:hidden"
      scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
</div>
<!--// Featured Slider \\-->
