<!--// Fancy Title \\-->
<a name="blog"></a>
<div class="sportsmagazine-fancy-title">
  <h2>Molvious Blogs</h2>
</div>
<!--// Fancy Title \\-->
<!--// Blog's \\-->
<div class="sportsmagazine-blog sportsmagazine-blog-grid">
    <ul class="row">
        <li class="col-md-6">
            <figure>
                <a href="#"><img src="assets/extra-images/latest-blog-1.jpg" alt=""></a>
                <figcaption>
                    <span><small>Razzismo</small></span>
                    <a href="#" class="sportsmagazine-link-btn"><i class="fa fa-link"></i></a>
                </figcaption>
            </figure>
            <section>
                <h2><a href="#">RISPETTO DEL PROSSIMO</a></h2>
                <p>“Parlare di fair play, di rispetto per l'avversario e di cartellino rosso al razzismo, non devono essere parole, devono essere fatti.” .</p>
            </section>
            <div class="sportsmagazine-blog-grid-options">
                <a href="#" class="sportsmagazine-blog-grid-thumb"><img src="assets/extra-images/blog-thumb-1.jpg" alt="">JOSÉ MOURINHO</a>
                <ul>
                    <li><i class="fa fa-thumbs-o-up"></i> <a href="#">320</a></li>
                    <li><i class="fa fa-eye"></i> <a href="#">840</a></li>
                    <li><i class="fa fa-share-alt"></i> <a href="#">89</a></li>
                </ul>
            </div>
        </li>
        <li class="col-md-6 sportsmagazine-the-league">
            <figure>
                <a href="#"><img src="assets/extra-images/latest-blog-2.jpg" alt=""></a>
                <figcaption>
                    <span><small>MAGIC</small></span>
                    <a href="#" class="sportsmagazine-link-btn"><i class="fa fa-link"></i></a>
                </figcaption>
            </figure>
            <section>
                <h2><a href="#">Giocare e vincere</a></h2>
                <p>“Io volevo soltanto tornare in campo, toccare la palla, annusare l'odore dei popcorn tra gli spalti. Il pubblico è una parte importante di tutto ciò, ma non è tutto. La molla principale è sapere che puoi ancora fare le cose che eri abituato a fare.”</p>
            </section>
            <div class="sportsmagazine-blog-grid-options">
                <a href="#" class="sportsmagazine-blog-grid-thumb"><img src="assets/extra-images/blog-thumb-1.jpg" alt=""> MAGIC JOHNSON</a>
                <ul>
                    <li><i class="fa fa-thumbs-o-up"></i> <a href="#">320</a></li>
                    <li><i class="fa fa-eye"></i> <a href="#">840</a></li>
                    <li><i class="fa fa-share-alt"></i> <a href="#">89</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="row">
        <li class="col-md-6 sportsmagazine-the-team">
            <figure>
                <a href="#"><img src="assets/extra-images/latest-blog-3.jpg" alt=""></a>
                <figcaption>
                    <span><small>The Team</small></span>
                    <a href="#" class="sportsmagazine-link-btn"><i class="fa fa-link"></i></a>
                </figcaption>
            </figure>
            <section>
                <h2><a href="#">Europa vs USA</a></h2>
                <p>“I giocatori europei sono molto più tecnici degli americani, in Europa insegnano a giocare a pallacanestro sin da piccoli, hanno più tecnica. È qualcosa che qui in America dobbiamo sistemare, dobbiamo insegnare ai più piccoli a giocare. Qui si insegna un basket ridicolo, i fondamentali vengono trascurati, per questo abbiamo giocatori come i fratelli Gasol e gli Spurs hanno il 90% del roster composto da giocatori europei.”</p>
            </section>
            <div class="sportsmagazine-blog-grid-options">
                <a href="#" class="sportsmagazine-blog-grid-thumb"><img src="assets/extra-images/blog-thumb-1.jpg" alt="">KOBE BRYANT</a>
                <ul>
                    <li><i class="fa fa-thumbs-o-up"></i> <a href="#">320</a></li>
                    <li><i class="fa fa-eye"></i> <a href="#">840</a></li>
                    <li><i class="fa fa-share-alt"></i> <a href="#">89</a></li>
                </ul>
            </div>
        </li>
        <li class="col-md-6">
            <div class="sportsmagazine-blog-list-wrap">
                <span>10 Squadre</span>
                <h6><a href="#">Stiamo cercando altre 2 squadre da aggiungere al girone.</a></h6>
                <time datetime="2018-09-14 20:00">14 Settembre 2018</time>
                <p>Nel caso si riuscisse ad avere 10 squadre, ci sarebbero 2 giornate da aggiungere facendo slittare le finali 14/04/2019(*) e 5/05/2019.
                  Nel caso il 14 aprile non fosse disponibile il campo, la finale scalerebbe ulteriormente al 19/05.
                </p>
            </div>
        </li>
        <li class="col-md-6 playoffs">
            <div class="sportsmagazine-blog-list-wrap">
                <span>Playoffs</span>
                <h6><a href="#">Playoff a 8 squadre</a></h6>
                <time datetime="2018-09-14 20:00">14 Settembre 2018</time>
                <p>I playoff a 8 squadre, sono ad eliminazione diretta. Incomincieranno appena finito il girone.
                  Le date dei quarti, semifinali e finali sono rispettivamente:
                  10/03/2019, 24/03/2019 e 7/04/2019.
                </p>
            </div>
        </li>
    </ul>
  </div>
<!--// Blog's \\-->
