<div class="sportsmagazine-main-content">

  <!--// Main Section \\-->
  <div class="sportsmagazine-main-section">
    <div class="container">
      <div class="row">

        <!--// Fixture Slider \\-->
        <div class="col-md-12">
          <app-fixture></app-fixture>
        </div>
        <!--// Fixture Slider \\-->

        <!--// Content \\-->
        <div class="col-md-8">
            <app-featured></app-featured>
            <app-last-match></app-last-match>
            <app-blog></app-blog>
            <app-advertisement></app-advertisement>
            <app-calendar></app-calendar>
            <app-club-media></app-club-media>
        </div>
        <!--// Content \\-->

        <!--// SideBaar \\-->
        <aside class="col-md-4">
            <app-team-ranking></app-team-ranking>
            <app-popular-news></app-popular-news>
        </aside>
        <aside class="col-md-4">
            <app-trending-news></app-trending-news>
            <app-next-match></app-next-match>

            <!--// Widget Add \\-->
            <div class="widget widget_add">
                <img src="assets/extra-images/add.jpg" alt="" style="width:100%">
            </div>
            <!--// Widget Add \\-->

        </aside>
        <!--// SideBaar \\-->

      </div>
    </div>
  </div>
  <!--// Main Section \\-->

  </div>
