<div class="sportsmagazine-banner">

  <!--// Slider \\-->
  <div class="sportsmagazine-banner-one slick-initialized slick-slider">

    <div aria-live="polite" class="slick-list draggable">
      <div class="slick-track" style="opacity: 1; width: 100%;" role="listbox">

        <div class="sportsmagazine-banner-one-layer slick-slide slick-current slick-active"
          style="width: 100%; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"
          tabindex="-1" role="option" aria-describedby="slick-slide00" data-slick-index="0"
          aria-hidden="false">

          <img src="assets/extra-images/banner-1.jpg" alt="">
          <span class="sportsmagazine-banner-pattren"></span>
          <div class="sportsmagazine-banner-caption">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="sportsmagazine-banner-wrap">
                              <h1><span class="torneo">Torneo</span> Basket<strong class="sportsmagazine-color">Over 35</strong> <span>Molvious Bridge Cup</span></h1>
                              <p>Torneo di non prefessionisti, organizzato tra 8/10 squadre, la regola numero uno è divertirsi per vincere.
                                Ci vediamo 10 domeniche l'anno, evitando le feste e i ponti, 2 volte al mese, tra Novembre e Maggio.</p>
                          </div>
                          <div class="sportsmagazine-banner-thumb"> <img src="assets/extra-images/banner-thumb-1.png" alt=""> </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--// Slider \\-->

</div>
