<!--// Fancy Title \\-->
<a name="calendar"></a>
<div class="sportsmagazine-fancy-title">
  <h2>Calendario</h2>
</div>
<!--// Fancy Title \\-->
<!--// Blog's \\-->
<div class="sportsmagazine-calendar">
    <div class="row">
        <div class="col-md-12" *ngFor="let schedule of all; let j=index">
          <h4>{{ schedule.name }} - {{ schedule.date  | amLocale:'it' | amDateFormat:'LL' }}</h4>
          <table>
            <tr *ngFor="let match of schedule.matches; let i=index">
              <td class="home"><img [src]="match.team1.image" alt=""> <a>{{ match.team1.name }}</a></td>

              <td class="vs" *ngIf="match.played()">
                  {{ match.score1 }} : {{ match.score2 }}
                </td>

              <td class="vs" *ngIf="match.team2 && !match.played()">
                <span *ngIf="match.time">{{ match.time.hours | number:'2.0' }} : {{ match.time.minutes | number:'2.0' }}</span>
                <span class="campo"> Campo</span> {{ match.field }}
              </td>
              <td class="guest" *ngIf="match.team2"><a>{{ match.team2.name }}</a> <img [src]="match.team2.image" alt="" *ngIf="match.team2"> </td>

              <td class="vs" *ngIf="!match.team2"></td>
              <td class="guest" *ngIf="!match.team2">- RIPOSO - </td>
            </tr>
          </table>
        </div>
      </div>
      <div>
        Il calendario potrà essere cambiato in corso d'opera se sopragungessero problemi logistici.
      </div>
  </div>
<!--// Blog's \\-->
