<!--// Fancy Title \\-->
<div class="sportsmagazine-fancy-title">
  <h2>Giocatori Top</h2>
</div>
<!--// Fancy Title \\-->

<div class="sportsmagazine-player-slider">
  <div class="sportsmagazine-player-slider-image slick-initialized slick-slider">
    <div aria-live="polite" class="slick-list draggable">
      <div class="slick-track" style="opacity: 1; width: 2155px;" role="listbox">
        <div class="sportsmagazine-player-image-layer slick-slide" data-slick-index="0" aria-hidden="true" style="width: 431px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1" role="option" aria-describedby="slick-slide30">
          <img src="extra-images/player-slider-image-1.png" alt="">
          <div class="sportsmagazine-player-slider-caption">
            <span>97</span>
            <section>
                <h6><a href="#" tabindex="-1">Micheal Darren</a></h6>
                <small>Forword</small>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sportsmagazine-player-slider-nav slick-vertical slick-initialized slick-slider">
  <div aria-live="polite" class="slick-list draggable" style="height: 404px;">
    <div class="slick-track" style="opacity: 1; height: 1313px; transform: translate3d(0px, -606px, 0px);" role="listbox">
      <div class="sportsmagazine-player-nav-layer slick-slide slick-cloned" style="width: 288px;" tabindex="-1" role="option" aria-describedby="slick-slide41" data-slick-index="-4" aria-hidden="true">
        <span>38</span>
        <section>
            <h6>sarena Jordan</h6>
            <small>Defensive</small>
        </section>
      </div>
    </div>
  </div>
</div>

