                        <!--// Widget Trending News \\-->
                        <div class="widget widget_trending_news">
                            <div class="sportsmagazine-fancy-title"><h2>Top Trending News</h2></div>
                            <!-- Nav tabs -->
                            <ul class="nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Newset</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Most Commented</a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Populer</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="widget_popular_news">
                                        <ul>
                                            <li>
                                                <div class="popular_news_text">
                                                    <small>Team 9</small>
                                                    <a>Nessuno ha ancora capito chi sono il Team 9</a>
                                                    <time datetime="2008-02-14 20:00">17 Novembre, 2018</time>
                                                    <p>La storia è complicata, fidanzamenti, separazioni, ricongiungimenti, sembra una storia da Maria de Filippi, ma ci hanno promesso una grande squadra. Noi ci accontenteremmo di un nome.</p>
                                                </div>
                                            </li>
                                            <li class="widget-injuries">
                                                <div class="popular_news_text">
                                                    <small>Rename</small>
                                                    <a>Real 3 Pinta camba nome.</a>
                                                    <time datetime="2008-02-14 20:00">17 Novembre, 2018</time>
                                                    <p>Il logo rifatto, piace, c'è sempre la birra di mezzo. Però il nome è "Real Tor Pigna". Promettono grande squadra.</p>
                                                </div>
                                            </li>
                                            <li class="widget-theleague">
                                                <div class="popular_news_text">
                                                    <small>Stella Azzurra</small>
                                                    <a>Comportamento corretto</a>
                                                    <time datetime="2008-02-14 20:00">17 Novembre, 2018</time>
                                                    <p>Chiediamo a tutti, ospiti e giocatori, famiglie e amici, di rispettare il campo che ci ospita. Abbiamo sentito storie che ci sembrano legende metropolitane e che quindi non riporteremo qui. Rispetto delle regole.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--// Widget Trending News \\-->
