<!--// Widget Popular News \\-->
<div class="widget widget_popular_news">
    <div class="sportsmagazine-fancy-title"><h2>Ultime notizie</h2></div>
    <ul>
        <li>
            <span>01</span>
            <div class="popular_news_text">
                <small>MOLVIOUS 2019</small>
                <a href="#">Ragazzi, quest'anno si inizia a Novembre!</a>
                <time datetime="2018-09-16 20:00">16 Settembre, 2018</time>
            </div>
        </li>
        <li class="widget-theleague">
            <span>02</span>
            <div class="popular_news_text">
                <small>SQUADRE + 2</small>
                <a href="#">La sfida di quest'anno è coinvolgere altre 2 squadre e fare un torneo a 10</a>
                <time datetime="2018-09-16 20:00">16 Settembre, 2018</time>
            </div>
        </li>
        <li>
            <span>03</span>
            <div class="popular_news_text">
                <small>Merellers</small>
                <a href="#">I Merellers si sono rinnovati nell'organico, abbiamo anche lo straniero TOP.</a>
                <time datetime="2018-09-16 20:00">16 Settembre, 2018</time>
            </div>
        </li>
        <li class="widget-theleague">
            <span>04</span>
            <div class="popular_news_text">
                <small>WINNER</small>
                <a href="#">Beverly INPS si aggiudica il torneo 2018, secondo il Panzai, terzo Cheltrones</a>
                <time datetime="2018-09-16 20:00">1 Giugno, 2018</time>
            </div>
        </li>
        <li class="widget-injuries">
            <span>05</span>
            <div class="popular_news_text">
                <small>3 POSTO</small>
                <a href="#">La vittoria a tavolino del Cheltrones gli assicurano un 3 posto</a>
                <time datetime="2018-09-16 20:00">1 Giugno, 2018</time>
            </div>
        </li>
    </ul>
</div>
<!--// Widget Popular News \\-->
