<!--// Widget Popular News \\-->
<div class="widget widget_popular_news">
    <div class="sportsmagazine-fancy-title"><h2>Ultime notizie</h2></div>
    <ul>
        <li>
            <span>01</span>
            <div class="popular_news_text">
                <small>MOLVIOUS 2019</small>
                <a>Ragazzi, quest'anno si inizia a Novembre!</a>
                <time datetime="2018-09-16 20:00">16 Settembre, 2018</time>
            </div>
        </li>
        <li class="widget-theleague">
            <span>02</span>
            <div class="popular_news_text">
                <small>SQUADRE + 2</small>
                <a>La sfida di quest'anno è coinvolgere altre 2 squadre e fare un torneo a 10</a>
                <time datetime="2018-09-16 20:00">16 Settembre, 2018</time>
            </div>
        </li>
        <li>
            <span>03</span>
            <div class="popular_news_text">
                <small>Merellers</small>
                <a>I Merellers si sono rinnovati nell'organico, abbiamo anche lo straniero TOP.</a>
                <time datetime="2018-09-16 20:00">16 Settembre, 2018</time>
            </div>
        </li>
        <li class="widget-theleague">
            <span>04</span>
            <div class="popular_news_text">
                <small>WINNER</small>
                <a>Beverly INPS si aggiudica il torneo 2018, secondo il Panzai, terzo Cheltrones</a>
                <time datetime="2018-09-16 20:00">1 Giugno, 2018</time>
            </div>
        </li>
        <li class="widget-injuries">
            <span>05</span>
            <div class="popular_news_text">
                <small>3 POSTO</small>
                <a>La vittoria a tavolino del Cheltrones gli assicurano un 3 posto</a>
                <time datetime="2018-09-16 20:00">1 Giugno, 2018</time>
            </div>
        </li>
        <li class="widget-injuries">
          <span>06</span>
          <div class="popular_news_text">
              <small>MOLVI(O)US</small>
              <a>Chiaramente, ad alcuni di voi non è sfuggita la svista nel cambio di nome del torneo. Una o del tutto nuova che rende ancora più complicato il nome. Vi assicuraimo però che non cambierà l'albo d'oro delle vincitrici. Andiamo avanti.</a>
              <time datetime="2018-11-18 10:00">18 Novembre, 2018</time>
          </div>
      </li>
    </ul>
</div>
<!--// Widget Popular News \\-->
